.active {
  background-color: #7babb1;
  color: #000;
  width: 22.9vw;
}

.active:hover {
  background-color: #7babb1;
}

.uno {
  width: 22.8vw;
  height: 100%;
  display: block;
}

.dos {
  width: 22.8vw;
}

.tres {
  width: 22.8vw;
}

.quatro {
  width: 22.8vw;
}

.cache {
	background-color: #999;
	color: #999;
	border: 5px solid #999;
}

.drapeau {
	background-color: #f00;
	color: #f00;
	border: 5px solid #f00;
}

.revele {
	border: 5px solid black;
}

.buton {
	position: absolute;
	border: 5px solid blue;
	right: 5em;
	height: 10em;
	width: 10em;
}

.barre {
	position: absolute;
	width: 2em;
	height: 10em;
	background-color: #fff;
	z-index: -1;
}

#balle {
	height: 2em;
}

#b1 {
	bottom: 60%;
}

#b2 {
	bottom: 20%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #bfeff5;
	text-align: center;
}

section {
	margin-top: 4em;
}

li {
  float: left;
}

li a {
  display: block;
  color: #bfeff5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

table {
	height: 90vh;
	width: 80%;
	table-layout: fixed;
}

form {
	height: 100%
}